nav {
    background: #15171c;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.logo-nav {
    display: none;
}

.logo-side {
    width: 80%;
    margin: 20px;
}

.FA-Bar{
    display: none;
}

.SidebarNav {
    overflow: hidden;
    background-color: #15171c;
    width: 280px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0; 
    transition: 350ms;
    z-index: 10;
    margin-right: 0 !important;
}

.sidebar-warp {
    width: 100%;
}


.logout:hover{
    background-color: #234d07;
    border-left: 4px solid #72FF13;
    cursor: pointer;
}

.logout-button {
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    font-size: 18px;
}

.logout-button span {
    margin-left: 16px; 
}

@media only screen and (max-width: 1024px) {
    .logo-nav {
        display: block;
        width: 30%;
        margin-left: 20px;
    }

    .SidebarNav{
        position: relative;
        width: 100vw;
    }

    .logo-side {
        display: none;
    }
    .logout-button {
        display: flex;
        justify-content: center;
    }

    .logo-logout {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .logo-nav {
        margin: 0;
    }

}