.card {
    /* position: relative; */
    /* display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0px solid #dfe3e7;
    border-radius: 0.267;
    margin-bottom: 2.2rem;
    box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
    transition: all .3s ease-in-out;
    background-color: royalblue; */
}

.card-header {
    padding: 1.4rem 1.7rem;
}
.card-content {
    margin-top: 1rem;
}

.card-body {
    display: flex;
    padding: 1.7rem;
    align-items: flex-end !important;
    justify-content: space-between;    
}

.dashboard-content-left {
    text-align: left;
}

.Image {
    vertical-align: middle;
    aspect-ratio: auto 220 / 220;
}

.image-responsive {
    width: 100%;
    height: auto;
}
