.brand {
    margin-left: 280px;    
}

.search-brand{
    padding: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ECF0F1;
}

.create-brand {
  display: flex;
  padding: 30px;
}

@media only screen and (max-width: 1024px) {
    .brand {
        margin-left: 0px;
    }
}